/* https://codepen.io/tutsplus/pen/qBqWrqx */

body {
    margin: 20px auto;
    font-family: 'Lato';
    background:#666;
    color:#fff;
  }

  
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-size: small;
  }
  #listPostit,#postit{
    list-style:none;
  }
  #listPostit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #listPostit #postit a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height: auto;
    width: auto;
    max-width: 300px !important;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
  
  #listPostit #postit:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  #listPostit #postit:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  #listPostit #postit:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  #listPostit #postit a:hover,#listPostit #postit a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  
  #listPostit #postit{
    margin:1em;
  }

  body {
    background: #eee
}

#regForm {
    background-color: #5dd97213;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px
}

#register {
    color: #5DD972;
}

#inputContenidoBitacora {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none
}

.tab #inputContenidoBitacora:focus {
    border: 1px solid #5DD972 !important;
    outline: none
}

#inputContenidoBitacora.invalid {
    border: 1px solid #e03a0666
}

.tab {
    display: none
}

button {
    background-color: #5DD972;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important
}

#prevBtn {
    background-color: #bbbbbb
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    color: #fff;
    background: #5DD972;
    opacity: 1
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.main {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: x-small;
}

/* Hide the default checkbox */
input[type=checkbox] {
  visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
}

/* Specify the background color to be
shown when hovering over checkbox */
.main:hover input ~ .geekmark {
  background-color: rgb(73, 151, 182);
}

/* Specify the background color to be
shown when checkbox is active */
.main input:active ~ .geekmark {
  background-color: greenyellow;
}

/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: white;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.main .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid rgb(86, 186, 211);
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

select {
  /* styling */
  background-color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  font-size: xx-small;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 10px) calc(1em + 2px),
    calc(100% - 5px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 5px) 1em,
    calc(100% - 10px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}