.jumbotron {
    padding: 1rem 0.5rem !important;
    margin-bottom: 0.5rem !important;
    border-radius: 0.15rem !important;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* TABLE CSS */
  html,
body {
	height: 100%;
}

body {
	margin: 0;
	/* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(2,131,59,1) 100%); */
	font-family: sans-serif;
	font-weight: 100;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#minutasTable {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#thTable,
#tdTable {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
}

#thTable {
	text-align: left;
}

thead {
	#tdTable {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	#tdTable {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

#regForm {
  background-color: #5dd97213;
  margin: 0px auto;
  padding: 40px;
  border-radius: 10px
}

#register {
  color: #5DD972
}

#inputContenidoBitacora {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  -webkit-appearance: none
}

.tab #inputContenidoBitacora:focus {
  border: 1px solid #5DD972 !important;
  outline: none
}

#inputContenidoBitacora.invalid {
  border: 1px solid #e03a0666
}

.tab {
  display: none
}

button {
  background-color: #5DD972;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer
}

button:hover {
  opacity: 0.8
}

button:focus {
  outline: none !important
}

#prevBtn {
  background-color: #bbbbbb
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #198754;
  opacity: 0.5
}

.step.active {
  opacity: 1
}

.step.finish {
  color: #fff;
  background: #5DD972;
  opacity: 1
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px
}

.no-margin {
margin-top: 0;
margin-bottom: 0;
}

.main {
display: block;
position: relative;
padding-left: 20px;
cursor: pointer;
font-size: x-small;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

select {

  /* styling */
  background-color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  font-size: xx-small;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, #198754 50%),
    linear-gradient(135deg, #198754 50%, transparent 50%),
    linear-gradient(to right, #5DD972, #5DD972);
  background-position:
    calc(100% - 10px) calc(1em + 2px),
    calc(100% - 5px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 5px) 1em,
    calc(100% - 10px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}